body {
  background-image: url(Backgroud-images/header-illsutration-mobile.svg);
  background-position-y: 72px;
  background-repeat: no-repeat;
}

.toolbar {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  justify-content: space-between;
}

.icon {
  align-items: center;
  font-size: 20px;
  background-color: white;
  border: transparent;
}

.name {
  position: static;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin-bottom: 0;
}

.career {
  position: static;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #36b37f;
  text-align: center;
  margin-top: 0;
}

.paragraph {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
}

.social {
  display: flex;
  justify-content: center;
}

.github,
.linkedin,
.twitter {
  padding-right: 20px;
}
